*.espressostorage
*.esproj
*.pxm
.DS_Store

.htaccess
config.php
verify.php

posts/*.md
posts/*.jpg

templates/*
!templates/simple/
!templates/topcaver/

plugins/*
!plugins/index.php

posts/*
!posts/index.php

cache/*.png
cache/*.jpeg
cache/*.jpg
